.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@salesforce/core/**
!node_modules/@salesforce/source-deploy-retrieve/**
!node_modules/cli-table3/**
!node_modules/unzipper/**
!node_modules/simple-git/**
!node_modules/semver/**
!node_modules/markdown-table/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!icons/**
.github/**
.prettierrc
.prettierignore
.eslintrc*
.editorconfig
CONTRIBUTING.md
public/**
docs/**
test/**
*.vsix
package-lock.json
.DS_Store
*.log
.env*
.npmrc
